<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       /* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: left;
}

/* Style for the table header */
th {
  background-color: #f2f2f2;
}

/* Style for the search form */
form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

/* Style for the links */
a {
  text-decoration: none;
  color: #007bff;
}

/* Style for the new user button */
.new-user-button {
  display: block;
  margin-top: 20px;
  padding: 5px 10px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

    </style>
</head>

<body>

   
    <form action="" method="post">
        <input type="text" name="searchValue" placeholder="enter username">
        <button type="submit">Search</button>
    </form>


    <table width="50%">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
        </tr>

        <% if(users.length>0){
            for(let i =0;i<users.length;i++){ %>
                <tr>
                    <td>
                        <%= users[i].name %>
                    </td>
                    <td>
                        <%= users[i].email %>
                    </td>
                    <td>
                        <%= users[i].mobile %>
                    </td>
                    <td><a href="/admin/edit-user?id=<%= users[i]._id %>">Edit</a></td>
                    <td><a href="/admin/delete-user?id=<%= users[i]._id %>">Delete</a></td>
                </tr>
                <% } } %>
    </table>
    <a href="/admin/new-user">New user</a>
    <br><br>
    <a href="/admin/home">Back to home</a>
    <br><br>
    
</body>

</html>